    
<%- include('./partials/header.ejs') %>  
<%- include('./partials/navbar.ejs') %>    

<div class="conainer mt-5 ml-5 mr-5">
    
        <h1>Welcome to BrilliantPro Learner</h1>
        <hr>
        <p>BrilliantPro is a very effective application to manage to your different courses, projects and certification. BrilliantPro is now recognix=zed as a top-notch management application for LMS Systems.</p>
        <br><br>
        <p><b><i>We hope you are enjoying our application!</i></b></p>
    
</div>

<%- include('./partials/footer.ejs') %>    
   