<%- include('./partials/header.ejs') %> 
<%- include('./partials/navbar.ejs') %>    

<div class="conainer mt-5 ml-5 mr-5">
    <h1 style="color: red;">Login Failed due to Incorrect Email or Password!</h1>
    <br>
    <h2>Login Again..</h2>
</div>
<%- include('./partials/footer.ejs') %>   